body {
    background-color: red;
    color: white;
}
img{
    height:100px;
    width: 100px;
    border-radius: 50%;
}
#avatar{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;/*覆盖背景区域 contain:扩展至最大尺寸*/
    background-image: url(../images/avatar.jpg);
}